// Theme Colors
$primary: #023e8a;
$secondary: #38b000;
$error: #ef233c;
$warning: #ffc300;
$milk: #ffffff;

// Spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// Borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// box shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font size
$base-font-size: 1rem;